<section class="hero text-center md:text-left relative grid grid-cols-1 md:grid-cols-4 gap-8 h-screen p-1">
  <div class="relative md:p-0">
    <div class="absolute md:p-4 bottom-8 left-0 z-10 h-96 w-96 md:bg-light-tertiary rounded">
      <h4>We Help You Make Modern Interior</h4>
      <p>We Help You Make Modern Interior</p>
    </div>

    <div class="absolute md:p-4 md:bottom-8 top-16 md:top-0 left-0 z-10 h-96 w-96 rounded">
      <p class="text-secondary">
        We will help you to make an elegant and luxurious interior designed by a professional interior designer.
      </p>
    </div>
  </div>


  <div class="col-span-4 md:col-span-3 flex md:justify-start items-end bg-no-repeat bg-contain md:bg-contain rounded overflow-hidden"
       style="background-image: url('https://images.unsplash.com/photo-1493857671505-72967e2e2760?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
  </div>

  <div class="absolute inset-0 md:hidden bg-cover bg-center"
       style="background-image: url('https://images.unsplash.com/photo-1505576391880-b3f9d713dc4f?q=80&w=1870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
  </div>
</section>
