<h2>{{ 'reasons.title' | translate }}</h2>
<div class="relative bg-cover bg-center h-full w-full p-4 md:p-8 rounded"
     style="background-image: url('https://plus.unsplash.com/premium_photo-1687996107471-2d199e880422?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">

  <div class="absolute inset-0 bg-black opacity-10 z-0"></div>

  <div class="relative z-10 text-light flex flex-col justify-between items-start gap-8">
    <div class="content">
      <i class="material-symbols-outlined">diamond</i>
      <div>
        <h4 class="text-sm">{{ 'reasons.quality.title' | translate }}</h4>
        <p class="text-sm drop-shadow-lg">{{ 'reasons.quality.description' | translate }}</p>
      </div>
    </div>

    <div class="content">
      <i class="material-symbols-outlined">draw</i>
      <div>
        <h4 class="text-sm">{{ 'reasons.customization.title' | translate }}</h4>
        <p class="">{{ 'reasons.customization.description' | translate }}</p>
      </div>
    </div>

    <div class="content">
      <i class="material-symbols-outlined">support_agent</i>
      <div>
        <h4 class="text-sm">{{ 'reasons.exceptional.title' | translate }}</h4>
        <p class="">{{ 'reasons.exceptional.description' | translate }}</p>
      </div>
    </div>

    <div class="content">
      <i class="material-symbols-outlined">eco</i>
      <div>
        <h4 class="text-sm">{{ 'reasons.sustainable.title' | translate }}</h4>
        <p class="">{{ 'reasons.sustainable.description' | translate }}</p>
      </div>
    </div>
  </div>
</div>
