<header class="fixed top-0 w-full bg-light z-50 h-10">
  <div class="my-auto h-full max-w-screen-xl mx-auto px-4 w-full flex justify-between items-center">
    <a
      [routerLink]="['']"
      (click)="closeMenu()"
      class="hover:no-underline"
    >
      <i class="material-symbols-outlined">home</i>
    </a>

    <div class="flex items-center gap-4">

      <ul class="hidden md:flex gap-2 mb-2">
        <li><a href="#" class="text-sm text-dark hover:underline">{{ 'footer.social_links.instagram' | translate }}</a></li>
        <li><a href="#" class="text-sm text-dark hover:underline">{{ 'footer.social_links.facebook' | translate }}</a></li>
      </ul>

      <shd-language title="{{ 'translate' | translate }}" />

      <button
        (click)="toggleMenu()"
        (keydown.enter)="toggleMenu()"
        (keydown.escape)="closeMenu()"
        tabindex="0"
        class="md:hidden cursor-pointer"
      >
        <i class="material-symbols-outlined transition-transform duration-300 ease-in-out" [class.rotate-180]="isOpen">
          {{ isOpen ? 'close' : 'menu' }}
        </i>
      </button>
    </div>
  </div>
</header>

<shd-navbar [isOpen]="isOpen" class="bg-light" />
