<div class="mx-auto w-full text-center">
  <h2 class="underline-animation text-center">{{ 'services.our_differential' | translate }}</h2>
  <div class="grid gap-4 w-full mx-auto grid-cols-1 md:grid-cols-3">
    <div class="card">
      <i class="material-symbols-outlined">design_services</i>
      <h3>{{ 'services.card.design.title' | translate }}</h3>
      <p>{{ 'services.card.design.description' | translate }}</p>
    </div>
    <div class="card">
      <i class="material-symbols-outlined">local_shipping</i>
      <h3>{{ 'services.card.shipping.title' | translate }}</h3>
      <p>{{ 'services.card.shipping.description' | translate }}</p>
    </div>
    <div class="card">
      <i class="material-symbols-outlined">manufacturing</i>
      <h3>{{ 'services.card.manufacturing.title' | translate }}</h3>
      <p>{{ 'services.card.manufacturing.description' | translate }}</p>
    </div>
  </div>
</div>
