<h4 class="mt-8 text-center text-accent">O MELHOR</h4>
<h2 class="text-center mb-8">Nosso Serviço</h2>
<div class="flex justify-around items-center gap-4 w-full lg:w-4/6 mx-auto">
  <div class="card">
    <i class="material-symbols-outlined">design_services</i>
    <h4>teste</h4>
    <p>teste teste teste</p>
  </div>
  <div class="card">
    <i class="material-symbols-outlined">local_shipping</i>
    <h4>teste</h4>
    <p>teste teste teste</p>
  </div>
  <div class="card">
    <i class="material-symbols-outlined">manufacturing</i>
    <h4>teste</h4>
    <p>teste teste teste</p>
  </div>
</div>
