@use '@angular/material' as mat
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200')
@tailwind base
@tailwind components
@tailwind utilities
@include mat.core()

/*
 Table of Contents
 --------------------------------------------------
 1. Functions (Mixins, Each, font-sizing headers)
 2. Default
/*

/*
  1. Functions
  -------------------------------------------------------------------------------- */
@mixin font-setting($family: 'Inter', $weight: 400, $size: 16px, $line-height: 1.5)
  font-family: $family, sans-serif
  font-weight: $weight
  font-size: $size
  line-height: $line-height
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

$font-sizes: (h1: (base: 1.5rem, scale: 2.5vw),h2: (base: 1.25rem, scale: 2vw),h3: (base: 1rem, scale: 1.5vw),h4: (base: 0.875rem, scale: 1vw))

@each $header, $sizes in $font-sizes
  #{$header}
    letter-spacing: 0.05em
    @include font-setting('Roboto', 700, calc(map-get($sizes, base) + map-get($sizes, scale)), 1.2)

/*
  1. Default
  -------------------------------------------------------------------------------- */
::-webkit-scrollbar
  @apply w-2
::-webkit-scrollbar-track
  @apply bg-light-tertiary
::-webkit-scrollbar-thumb
  @apply bg-tertiary cursor-pointer rounded my-1
::-webkit-scrollbar-thumb:hover
  @apply bg-secondary

html,
body
  margin: 0
  padding: 0
  box-sizing: border-box
  @apply font-poppins font-normal bg-light-secondary transition duration-300 ease-in-out
  h2
    @apply font-bree-serif font-normal

  a,
  i,
  li,
  button
    text-decoration: none
    list-style: none
    cursor: pointer
    @apply text-dark

    &:hover
      @apply text-highlight

  &:hover
    @apply text-highlight

.material-symbols-outlined
  font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 24

.container-responsive
  @apply max-w-screen-xl mx-auto px-4 w-full

.navbar-link
  @apply flex items-center gap-8 py-2 px-4 bg-light hover:bg-light-tertiary

.mat-mdc-menu-content
  border-radius: 2px
  @apply mt-1 border border-dark bg-light text-dark
  .mat-mdc-menu-item-text
    padding: 4px 8px
    &:hover, &:focus
      @apply bg-light-tertiary outline-none


$styleshousedesigns-theme: mat.define-theme((color: (theme-type: light,primary: mat.$azure-palette,tertiary: mat.$blue-palette,),density: (scale: 0,)))
:root
  @include mat.all-component-themes($styleshousedesigns-theme)


a.whatsapp
  @apply flex items-center justify-center gap-4 font-poppins text-light bg-green-500 hover:text-light py-3 px-6 rounded-lg hover:bg-green-600 focus:outline-none transition-colors
