@use '@angular/material' as mat
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Pixels&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200')
@tailwind base
@tailwind components
@tailwind utilities
@include mat.core()

/*
 Table of Contents
 --------------------------------------------------
 1. Functions (Mixins, Each, font-sizing headers)
 2. Default
/*

/*
  1. Functions
  -------------------------------------------------------------------------------- */
@mixin font-setting($family: 'Inter', $weight: 400, $size: 16px, $line-height: 1.5)
  font-family: $family, sans-serif
  font-weight: $weight
  font-size: $size
  line-height: $line-height
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

$font-sizes: (h1: (base: 1.5rem, scale: 1.5vw),h2: (base: 1rem, scale: 1vw),h3: (base: 0.875rem, scale: 0.75vw),h4: (base: 0.75rem, scale: 0.75vw))

@each $header, $sizes in $font-sizes
  #{$header}
    letter-spacing: 0.05em
    @include font-setting('Roboto', 700, calc(map-get($sizes, base) + map-get($sizes, scale)), 1.2)

/*
  1. Default
  -------------------------------------------------------------------------------- */
::-webkit-scrollbar
  @apply w-2
::-webkit-scrollbar-track
  @apply bg-light-tertiary
::-webkit-scrollbar-thumb
  @apply bg-tertiary cursor-pointer rounded my-1
::-webkit-scrollbar-thumb:hover
  @apply bg-secondary

html,
body
  margin: 0
  padding: 0
  box-sizing: border-box
  @apply font-open-sans font-normal bg-light-secondary transition duration-300 ease-in-out w-screen m-0 overflow-x-hidden

  h1,
  h2
    @apply font-bree-serif font-normal

  a,
  i,
  li,
  button
    text-decoration: none
    list-style: none
    cursor: pointer
    @apply text-dark
    &:hover
      @apply text-highlight

  @keyframes underline-animate
    0%
      width: 0
    100%
      width: 100%

  section
    @apply mx-auto w-full text-center
    h2
      @apply text-dark my-8 uppercase font-poppins tracking-tighter relative inline-block
      &::after
        content: ''
        height: 2px
        animation: underline-animate 1s ease-out forwards
        @apply absolute bottom-0 left-0 w-0 bg-accent

.material-symbols-outlined
  font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 24

.container-responsive
  @apply max-w-screen-xl mx-auto px-4 w-full overflow-x-hidden

.navbar-link
  @apply flex items-center gap-8 py-2 px-4 bg-light hover:bg-light-tertiary

.mat-mdc-menu-content
  border-radius: 2px
  @apply mt-1 border border-dark bg-light text-dark
  .mat-mdc-menu-item-text
    padding: 4px 8px
    &:hover, &:focus
      @apply bg-light-tertiary outline-none


$styleshousedesigns-theme: mat.define-theme((color: (theme-type: light,primary: mat.$azure-palette,tertiary: mat.$blue-palette,),density: (scale: 0,)))
:root
  @include mat.all-component-themes($styleshousedesigns-theme)


a.whatsapp
  @apply flex items-center justify-center gap-4 font-open-sans text-light bg-green-500 hover:text-light py-3 px-6 rounded-lg hover:bg-green-600 focus:outline-none transition-colors

.accent-icons i
  @apply text-accent text-3xl
  &:hover
    @apply grayscale

.card
  cursor: pointer
  @apply flex flex-col justify-around items-center text-center min-h-48 hover:grayscale focus:grayscale hover:bg-light-tertiary rounded-xl border border-tertiary duration-300 ease-in-out p-4 relative

  & > h3
    @apply text-lg
  & > p
    @apply text-sm

  &::after
    content: 'north_east'
    font-family: 'Material Symbols Outlined'
    font-size: 1.2rem
    width: 1.5rem
    height: 1.5rem
    display: flex
    align-items: center
    justify-content: center
    @apply absolute top-2 right-2 bg-light-tertiary text-dark
    border-top-right-radius: 0.75rem
    border-bottom-left-radius: 0.75rem
    transform: translate(25%, -25%)

section#reasons
  .content
    @apply flex gap-4 justify-start items-center text-left text-sm bg-tertiary rounded p-2 w-full md:w-7/12
